[workspace]
authors = ["Samuel Ibarra <ing.samuelibarra@gmail.com>"]
platforms = ["linux-64", "osx-arm64"]
preview = ["pixi-build"]
channels = [
    "https://prefix.dev/max-nightly",
    "https://prefix.dev/conda-forge",
]


[package]
name = "strata"
version = "0.0.1"
description = "Series/Parallel Runner on top of mojo asyncrt"

[package.build]
backend = { name = "pixi-build-mojo", version = "0.1.*" }

[package.host-dependencies]
mojo-compiler = "<=1.0.0"

[package.build-dependencies]
mojo-compiler = "<=1.0.0"

[package.run-dependencies]
mojo-compiler = "<=1.0.0"

[dependencies]
mojo = "*"
strata = { path = "." }

[tasks]
# Build
build_package = "mojo package src/ -o package/strata.mojopkg"

# Python Build
# build_old_python_package = "mojo build src/interop/python_interop_old.mojo --emit shared-lib -o package/old_mojo_strata.so"
build_mojo_python = "mojo build src/interop/python_interop.mojo --emit shared-lib -o package/mojo_strata.so"
prepare_python = { cmd = "mv package/*mojo_strata.so python/src/strata/", depends-on = ["build_mojo_python"] }

# All
build_all = { depends-on = ["build_package", "build_old_python_package", "build_python_package"] }

# Examples
async_mutable_task_examples = "mojo examples/async_mutable_task_examples.mojo"
generic_async_examples = "mojo examples/generic_async_examples.mojo"

# Testing
test_runners = {cmd = "mojo run tests/test_runners.mojo"}
python_test = {cmd = "cd python && uv run --group test pytest && cd ..", depends-on = ["prepare_python"] }

# Docs completeness
test_docs = {cmd = "mojo run tests/test_docs_completeness.mojo"}

tests = { depends-on = ["runners", "python_test"] }  #, "test_docs"] }

