[workspace]
name = "strata"
version = "0.0.1"
description = "Series/Parallel Runner on top of mojo asyncrt"
authors = ["Samuel Ibarra <ing.samuelibarra@gmail.com>"]
preview = ["pixi-build"]
platforms = ["linux-64", "osx-arm64"]
channels = [
    "https://prefix.dev/max-nightly",
    "https://prefix.dev/conda-forge",
]


[package]
name = "strata"
version = "0.1.0"

[package.build]
backend = { name = "pixi-build-mojo", version = "0.1.*" }

[package.build.config.pkg]
name = "strata"
path = "src/"
# extra-args = ["-I", "..."]

[package.host-dependencies]
mojo-compiler = "<=1.0.0"

[package.build-dependencies]
mojo-compiler = "<=1.0.0"

[package.run-dependencies]
mojo-compiler = "<=1.0.0"

[dependencies]
mojo = "<=1.0.0"

[tasks]
# Build
build_package = "mojo package src/ -o package/strata.mojopkg"
prepare_examples = { cmd = "mv package/strata.mojopkg examples/", depends-on = [
    "build_package",
] }

# Python Build
build_old_python_package = "mojo build src/python_interop_old.mojo --emit shared-lib -o package/old_mojo_strata.so"
build_python_package = "mojo build src/python_interop.mojo --emit shared-lib -o package/mojo_strata.so"
prepare_python = { cmd = "mv package/*mojo_strata.so python/src/strata/", depends-on = [
    "build_python_package",
    "build_old_python_package",
] }

# All
build_all = { depends-on = ["build_package", "build_old_python_package", "build_python_package"] }

# Examples
async_immutable_task_examples = "mojo examples/async_immutable_task_examples.mojo"
async_mutable_task_examples = "mojo examples/async_mutable_task_examples.mojo"
generic_examples = "mojo examples/generic_examples.mojo"
generic_comptime_examples = "mojo examples/generic_comptime_examples.mojo"
generic_async_examples = "mojo examples/generic_async_examples.mojo"
mutable_examples = "mojo examples/mutable_examples.mojo"
immutable_examples = "mojo examples/immutable_examples.mojo"
type_examples = "mojo examples/type_examples.mojo"

# Examples
examples = { depends-on = [
    "prepare_examples",
    "type_examples",
    "immutable_examples",
    "mutable_examples",
    "generic_examples",
    "generic_comptime_examples",
    # "generic_async_examples",
    # "async_immutable_task_examples",
    # "async_mutable_task_examples",
] }

# Testing

# -- Python testing
python_test = {cmd = "cd python && uv run --group test pytest && cd ..", depends-on = ["prepare_python"] }
tests = { depends-on = ["examples", "python_test"] }  #, "test_docs"] }
test_docs = "mojo test --diagnose-missing-doc-strings --validate-doc-strings"

